div {
    background-color: red;
    margin: 25px;
}

span {
    padding: 15px;
    background-position: 10px;
    font-size: 25px;
}


main {
    border: 1px solid red;
    border: 1px solid red;
    border: 1px solid red;
    border: 1px solid red;
    border: 1px solid red;
    border: 1px solid red;
}



